
<% layout("/layouts/boilerplate") %>
<body>
    <%=data._id%>
    <h1>Title: <%=data.title%> </h1>
    <h3>Description: <%= data.description %></h3>
    <h3>Price: &#8377; <%= data.price.toLocaleString("en-IN")    %>     </h3>
    <h3>Location: <%= data.location %> </h3>
    <h3>country:   <%= data.country  %>   </h3>
   
    <h3><a href="/listing/<%= data._id  %>/edit">Edit</a></h3>

    <form method="post" action="/listing/<%=data._id %>/Delete?_method=delete">
        <button type="submit">Delete</button>
    </form>
    <br>

    <img src="<%= data.image %>" alt="Place image" width="300px" >
    

</body>
