<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <form method="post" action="/listing/<%=data._id %>?_method=patch">
        <label for="title">Edit title:</label>
        <textarea name="title" id="title"><%=data.title %></textarea>
        
        <br><br>
        <label for="description">Edit description:</label>
        <textarea name="description" id="description"><%=data.description %></textarea>
        <br><br>
        <label for="image">Edit url:</label>
        <textarea name="image" id="image"><%=data.image %></textarea>
        
        <br><br>
        <label for="price">Edit price</label>
        <textarea name="price" id="price"><%=data.price %></textarea>
        
        <br><br>
        <label for="location">Edit location:</label>
        <textarea name="location" id="location"><%=data.location %></textarea>
        
        <br><br>
        <label for="country">Edit country:</label>
        <textarea name="country" id="country"><%=data.country %></textarea>

        <br><br>
        <button type="submit">Submit</button>
        

    </form>
</body>
</html>